<div class="fa-widget-status">
  <div class="ui three column grid">
    <!-- Bot count -->
    <div class="column">
      <div class="ui secondary center aligned segment">
        <div class="ui statistic">
          <div id="fakebot-count-bots-total" class="value"></div>
          <div class="label">
            Bots
          </div>
        </div>
      </div>
    </div>

    <!-- Commands count -->
    <div class="column">
      <div class="ui secondary center aligned segment">
        <div class="ui statistic">
          <div id="fakebot-count-commands-total" class="value"></div>
          <div class="label">
            Commands
          </div>
        </div>
      </div>
    </div>

    <!-- Event count -->
    <div class="column">
      <div class="ui secondary center aligned segment">
        <div class="ui statistic">
          <div id="fakebot-count-events-total" class="value"></div>
          <div class="label">
            Events
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
